<aside>
    <div class="hero">
        <div class="hero__back hero__back--static"></div>
        <div class="hero__back hero__back--mover"></div>
        <div class="hero__front"></div>
    </div>
    <header class="codrops-header">
        <div class="codrops-links">
            <a class="codrops-icon codrops-icon--prev"></a>
            <a class="codrops-icon codrops-icon--drop"></a>
        </div>
        <h1 class="codrops-title">Monkey's  <span>Photography</span></h1>
        <nav class="menu">
            <a class="menu__item menu__item--current" href="#"><span>Work</span></a>
            <a class="menu__item" href="#"><span>Contact</span></a>
            <a class="menu__item" href="/admin"><span>Admin</span></a>
        </nav>
    </header>
</aside>