<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人作品展示 - Timy's Photography</title>
    <link rel="shortcut icon" href="/static/image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/flickity.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
    <script src="/static/js/modernizr.custom.js"></script>
    <style>
        .hero > div {
            background: #212121 url(data/upload/background/bg.jpg) no-repeat 50% 0;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }
    </style>

    <img class="loader" src="/static/image/three-dots.svg" width="60" alt="Loader image"/>
</head>
