[[source]]
name = "pypi"
url = "http://pypi.douban.com/simple"
verify_ssl = false 

[dev-packages]

[packages]
django = "==3.0.7"
pytz = "*"
pymysql = "*"
ipython = "*"
dj-pagination = "*"
jinja2 = "*"
prettytable = "*"

[requires]
python_version = "3.6"
